body{
    fontFamily: 'PT Sans', sans-serif;
    background-color: #fff;
    font-size: 1.3em;
}
header{
    background-color: #f5f5f5;
}
.HeadOfVacName a{
    color:#000000;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    cursor:pointer;
}
.SalaryContainer{
    font-size: 14px;

}
.resposibility, .requirement{
    font-size: 12px;
}
.employer a{
    color: #999;
    outline: none;
    border: 0;
    text-decoration: none;
    cursor:pointer;
    font-size: 12px;
}
.areaAndDate{
    font-size:12px;
    color:#777;
}
.ContentBlock:hover{
    background-color: #fbfbfb;
}
/*Для пагинации*/
#page-numbers {
    list-style: none;
    display: flex;
    justify-content: center;
}

#page-numbers > Button {
    margin-right: 0.3em;
    user-select: none;
    cursor: pointer;
}
Button{
    font-family: 'PT Sans', sans-serif;
}
/*FormSearch*/
.MuiSwitch-checked-51 {
    color: #00fffc !important;
}
.MuiSwitch-checked-51 + .MuiSwitch-bar-48 {
    background-color:  #00fffc !important;
}
.MuiTypography-body1-76{
    color:white  !important;
}

/*leftsearch*/
.MuiDrawer-paperAnchorDockedLeft-110 {
    border: 2px solid #777 !important;
}